In [10]:
import pandas as pd
import numpy as np

In [7]:
y = pd.DataFrame(x,columns = ['age'])

In [8]:
y

    age
0     4
1     5
2    10
3    12
4    78
5    96
6    42
7    20
8    11
9    25
10   30
11   50
12   40

In [11]:
min = int(np.floor(y.min()))
max = int(np.ceil(y.max()))

In [12]:
age_range = (y.max() - y.min())

In [20]:
width = int(age_range / 10)  # here 10 is number of desired intervals

In [21]:
interval  = [i for i in range(min,max+width,width)]

In [22]:
interval

[4, 13, 22, 31, 40, 49, 58, 67, 76, 85, 94, 103]

In [25]:
width

9

In [29]:
pd.cut(y.age,interval,labels = None)

0               NaN
1       (4.0, 13.0]
2       (4.0, 13.0]
3       (4.0, 13.0]
4      (76.0, 85.0]
5     (94.0, 103.0]
6      (40.0, 49.0]
7      (13.0, 22.0]
8       (4.0, 13.0]
9      (22.0, 31.0]
10     (22.0, 31.0]
11     (49.0, 58.0]
12     (31.0, 40.0]
Name: age, dtype: category
Categories (11, interval[int64]): [(4, 13] < (13, 22] < (22, 31] < (31, 40] ... (67, 76] < (76, 85] < (85, 94] < (94, 103]]

In [4]:
for i in range(0,15,5):
    print(i)

0
5
10